BasedOnStyle: LLVM
Language: Cpp
Standard: Latest

IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4

BreakBeforeBraces: Allman
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpaceAfterCStyleCast: true

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

SortIncludes: true
IncludeBlocks: Preserve
FixNamespaceComments: true