BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: InlineOnly
ColumnLimit: 100
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignAfterOpenBracket: Align
AlignEscapedNewlinesLeft: true
SortIncludes: true
SpaceBeforeParens: ControlStatements
PointerAlignment: Left
Cpp11BracedListStyle: true
DerivePointerAlignment: false
SpacesInParentheses: false
SpacesInAngles: false
SpacesInSquareBrackets: false
SpacesBeforeTrailingComments: 2