Checks: >
  -*,
  bugprone-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-function-cognitive-complexity,
  -readability-identifier-length
WarningsAsErrors: '*'
HeaderFilterRegex: '^(src/|tests/).*'
FormatStyle: file