Checks: >
  -*,
  bugprone-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  misc-include-cleaner,
  -modernize-use-trailing-return-type,
  -readability-function-cognitive-complexity,
  -readability-identifier-length
HeaderFilterRegex: '^(src/|tests/).*'
FormatStyle: file